name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache buildozer
        uses: actions/cache@v4
        with:
          path: |
            ~/.buildozer
            ./.buildozer
          key: buildozer-${{ runner.os }}-${{ hashFiles('buildozer.spec') }}

      - name: Install system deps
        run: |
          sudo add-apt-repository universe
          sudo apt-get update
          sudo apt-get upgrade
          sudo add-apt-repository universe
          sudo apt-get install -y python3-pip build-essential ccache git \
               zlib1g-dev python3-dev libncurses6-dev libstdc++6 \
               zlib1g openjdk-17-jdk unzip ant ccache autoconf libtool

      - name: Build APK
        uses: iamxmant/kivyapp@main
        with:
          python-version: 3.13
          buildozer-cmd: buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: ./bin/*-debug.apk
